img {
    padding: 20px; // Extra small devices (portrait phones, less than 576px)
    @media (max-width: 575.98px) {
        max-width: 128px;
    } // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) and (max-width: 767.98px) {
        max-width: 256px;
    } // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) and (max-width: 991.98px) {
        max-width: 256px;
    } // Large devices (desktops, 992px and up)
    @media (min-width: 992px) and (max-width: 1199.98px) {
        max-width: 256px;
    } // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        max-width: 256px;
    }
}

ul.remove-dot { list-style-type: none; }