<mat-card>
  <mat-card-content>
    <h2>{{ 'SHARE.INVOICE_NUMBER' | translate }} : {{ invoiceNumber }}</h2>
    <hr>
    <div *ngIf="detailOrder">
      <h3>
        {{ 'UNAUTHENTICATED.SIGN_IN.USERNAME' | translate }} : {{ detailOrder.sendContact.profile.username }}
      </h3>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h3>
            {{ 'SHARE.ORDER_LIST' | translate }} :
          </h3>
          <ul>
            <li *ngFor="let listOrder of detailOrder.listOrder">
              {{ listOrder.name }} <br>
              {{ 'SHARE.AMOUNT' | translate }}
              {{ listOrder.amount }} {{ 'SHARE.ITEM' | translate }}
              {{ listOrder.amountPrice }} {{ 'SHARE.BAHT' | translate }}
            </li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h3>
            {{ 'SHARE.SHIPPING_ADDRESS' | translate }} :
          </h3>
          <!-- <p>
            {{ detailOrder.sendContact.profile.address }}
          </p> -->
          <p>
            {{ 'SHARE.NAME' | translate }} : {{ detailOrder.sendContact.profile.name }} <br>
            {{ 'SHARE.ADDRESS' | translate }} : {{ detailOrder.sendContact.profile.address }} <br>
            {{ 'SHARE.TELEPHONE' | translate }} : {{ detailOrder.sendContact.profile.telephone }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h3>
            {{ 'SHARE.BANK_CHANNEL' | translate }} :
          </h3>
          <ul class="remove-dot" *ngIf="detailOrder.bankDetail">
            <li>
              {{ detailOrder.bankDetail.bankName }}
            </li>
            <li>
              {{ detailOrder.bankDetail.bankNo }}
            </li>
            <li>
              {{ detailOrder.bankDetail.bankOwner }}
            </li>
          </ul>

        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h3>
            {{ 'SHARE.STATUS' | translate }} :
          </h3>
          <!-- <p>
            {{ detailOrder.status }}
          </p> -->
          <mat-form-field class="width-full">
            <mat-select [(ngModel)]="statusSelected" (selectionChange)="statusSelectedChange($event.value)">
              <mat-option *ngFor="let status of statusItems" [value]="status">
                {{ status }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h3>
              {{ 'SHARE.TOTAL_PRICE' | translate }} : {{ detailOrder.totalPrice }} {{ 'SHARE.BAHT' | translate }}
          </h3>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h3>
            {{ 'SHARE.SHIPPING_SUPERVISOR' | translate }} :
          </h3>
          <form>
            <mat-form-field class="mat-form-field">
              <input type="text" placeholder="{{ 'SHARE.NAME' | translate }}: {{ 'UNAUTHENTICATED.SIGN_IN.USERNAME' | translate }}"
                matInput [formControl]="shippingSupervisorFormControl" [matAutocomplete]="userAutoGroup">
              <mat-autocomplete #userAutoGroup="matAutocomplete" (optionSelected)="selectStaff($event.option.value)">
                <mat-option *ngFor="let value of filteredOptions | async" [value]="value">
                  {{ value }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>

      </div>
      <h3>
        {{ 'SHARE.PROOF_OF_PAYMENT' | translate }} :
      </h3>
      <div *ngIf="detailOrder.detailImage && '' !== detailOrder.detailImage.url" class="text-align-center">
        <img [src]="detailOrder.detailImage.url">
      </div>


    </div>
  </mat-card-content>
</mat-card>
<cs-kps-delivery-overlay-spinner *ngIf="statusSpinner"></cs-kps-delivery-overlay-spinner>