@import '_variables';

.bg-B4D95F {
    background-color: $color-B4D95F !important;
}

.bg-30B5B1 {
    background-color: $color-30B5B1 !important;
}

.bg-0F84EF {
    background-color: $color-0F84EF !important;
}

.bg-554A39 {
    background-color: $color-554A39 !important;
}

.bg-B63232 {
    background-color: $color-B63232 !important;
}

.color-B4D95F {
    color: $color-B4D95F !important;
}

.color-30B5B1 {
    color: $color-30B5B1 !important;
}

.color-0F84EF {
    color: $color-0F84EF !important;
}

.color-554A39 {
    color: $color-554A39 !important;
}

.color-B63232 {
    color: $color-B63232 !important;
}

.border-B4D95F {
    border-color: $color-B4D95F !important;
}

.border-30B5B1 {
    border-color: $color-30B5B1 !important;
}

.border-0F84EF {
    border-color: $color-0F84EF !important;
}

.border-554A39 {
    border-color: $color-554A39 !important;
}

.border-B63232 {
    border-color: $color-B63232 !important;
}

.fill-B4D95F {
    fill: $color-B4D95F !important;
}

.fill-30B5B1 {
    fill: $color-30B5B1 !important;
}

.fill-0F84EF {
    fill: $color-0F84EF !important;
}

.fill-554A39 {
    fill: $color-554A39 !important;
}

.fill-B63232 {
    fill: $color-B63232 !important;
}

.stroke-B4D95F {
    stroke: $color-B4D95F !important;
}

.stroke-30B5B1 {
    stroke: $color-30B5B1 !important;
}

.stroke-0F84EF {
    stroke: $color-0F84EF !important;
}

.stroke-554A39 {
    stroke: $color-554A39 !important;
}

.stroke-B63232 {
    stroke: $color-B63232 !important;
}