@font-face {
    font-family: 'Mitr';
    src: url('./assets/fonts/google/mitrv3/mitr-v3-latin_thai-regular.eot');
    /* IE9 Compat Modes */
    src: local('Mitr Regular'), local('Mitr-Regular'), url('./assets/fonts/google/mitrv3/mitr-v3-latin_thai-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./assets/fonts/google/mitrv3/mitr-v3-latin_thai-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/google/mitrv3/mitr-v3-latin_thai-regular.woff') format('woff'), /* Modern Browsers */
    url('./assets/fonts/google/mitrv3/mitr-v3-latin_thai-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/google/mitrv3/mitr-v3-latin_thai-regular.svg#Mitr') format('svg');
    /* Legacy iOS */
}