body {
  font-family: "Mitr", sans-serif !important; // -webkit-touch-callout: none;
  // /* iOS Safari */
  // -webkit-user-select: none;
  // /* Safari */
  // -khtml-user-select: none;
  // /* Konqueror HTML */
  // -moz-user-select: none;
  // /* Firefox */
  // -ms-user-select: none;
  // /* Internet Explorer/Edge */
  // user-select: none;
  // /* Non-prefixed version, currently supported by Chrome and Opera */
}

.bg-transparent {
  background-color: transparent;
}

.none-shadow {
  box-shadow: none;
}

.show-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 991.98px) {
  .desktop-mode {
    display: none !important;
  }
}

@media (min-width: 991.99px) {
  .mobile-mode {
    display: none !important;
  }
}

.mat-elevation-z8 {
  table {
    width: 100%;
    tbody {
      .mat-row:hover {
        background: #f5f5f5;
        cursor: pointer;
      }
    }
  }
}

.table-relative {
  max-height: 75vh;
  overflow: auto;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.title-center {
  flex: 1 1 auto;
  text-align: center;
}

.mat-card-image-max-height-128px {
  width: 100%;
  max-width: 128px;
  height: auto;
}

.mat-form-field,
.width-full {
  width: 100%;
}

.sidenav-spacer {
  flex: 1 1 auto;
}

.text-color-red {
  color: #f44336;
}

ngx-recaptcha2 {
  [id*="ngx_captcha_id_"] {
    div {
      height: initial !important;
      width: inherit !important;
    }
  }
}

.img-gray-scale {
  filter: grayscale(100%);
  z-index: -1;
}

.text-overlay-center {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   -webkit-transform: translate(-50%, -50%);
  color: #f44336;
  //   font-size: 20px;
  z-index: 1;
}