@font-face {
    font-family: 'Material Icons';
    src: url('./assets/fonts/google/materialIcons-regular/MaterialIcons-Regular.eot');
    /* IE9 Compat Modes */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url('./assets/fonts/google/materialIcons-regular/MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./assets/fonts/google/materialIcons-regular/MaterialIcons-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/google/materialIcons-regular/MaterialIcons-Regular.woff') format('woff'), /* Modern Browsers */
    url('./assets/fonts/google/materialIcons-regular/MaterialIcons-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/google/materialIcons-regular/MaterialIcons-Regular.svg#MaterialIcons-Regular') format('svg');
    /* Legacy iOS */
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}