<mat-card>
  <mat-card-content>
    <form [formGroup]="signInForm" #ngSignInForm="ngForm" (ngSubmit)="onFormSubmit()">
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <img mat-card-image class="content" [src]="_PATH_FILES.ADMINISTRATION.SRC" [alt]="_PATH_FILES.ADMINISTRATION.ALT">
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 content">
          <mat-form-field class="mat-form-field">
            <mat-icon matPrefix>person</mat-icon>
            <input matInput type="text" formControlName="username" placeholder="{{ _KEYS_TRANSLATE.USERNAME | translate }}"
              autocomplete="off" required>
            <mat-error *ngIf="signInForm.get('username').invalid">
              {{ _KEYS_TRANSLATE_SHARE.PLEASE_SPECIFY | translate }}{{ _KEYS_TRANSLATE.USERNAME | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="mat-form-field">
            <mat-icon matPrefix>lock</mat-icon>
            <input matInput [type]="passwordVisibilityIcon ? 'password' : 'text'" formControlName="password"
              placeholder="{{ _KEYS_TRANSLATE.PASSWORD | translate }}" autocomplete="off" required>
            <mat-error *ngIf="signInForm.get('password').invalid">
              {{ _KEYS_TRANSLATE_SHARE.PLEASE_SPECIFY | translate }}{{ _KEYS_TRANSLATE.PASSWORD | translate }}
            </mat-error>
            <mat-icon matSuffix (click)="passwordVisibilityIcon = !passwordVisibilityIcon">
              {{ passwordVisibilityIcon ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </mat-form-field>
        </div>
      </div>
      <ngx-recaptcha2 [siteKey]="_RECAPTCHA_PRODUCTS.SITE_KEY" [size]="_RECAPTCHA_PRODUCTS.SIZE" [hl]="translateService.currentLang"
        [theme]="_RECAPTCHA_PRODUCTS.THEME" [type]="_RECAPTCHA_PRODUCTS.IMAGE" [useGlobalDomain]="useGlobalDomain"
        formControlName="recaptcha2"></ngx-recaptcha2>
      <span *ngIf="ngSignInForm.submitted && signInForm.get('recaptcha2').invalid" class="text-color-red">
        {{ _KEYS_TRANSLATE_SHARE.PLEASE_SPECIFY | translate }}{{ _KEYS_TRANSLATE.NONE_ROBOT | translate }}
      </span>
      <div class="row center-xs end-sm end-md end-lg">
        <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
          <div class="button-row">
            <button class="width-full" mat-raised-button color="primary" type="submit">
              {{ _KEYS_TRANSLATE.SIGN_IN | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<cs-kps-delivery-overlay-spinner *ngIf="statusSpinner"></cs-kps-delivery-overlay-spinner>