<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'SHARE.FILTER' | translate}}">
</mat-form-field>

<div class="mat-elevation-z8 table-relative" #elevationTable>
  <table mat-table matSort multiTemplateDataRows [dataSource]="dataSource">
    <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ keyTranslate[column] | translate }} </th>
      <td mat-cell *matCellDef="let element" [innerHTML]="element[column]"></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" (click)="viewElement(element)"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="pageSizeOptions" style="width: 100%;"></mat-paginator>
</div>
<cs-kps-delivery-overlay-spinner *ngIf="statusSpinner"></cs-kps-delivery-overlay-spinner>