<mat-card>
  <mat-card-content>
    <h2>
      {{ 'SHARE.PLEASE_SPECIFY' | translate }}{{ 'SHARE.INFORMATION' | translate }}{{ 'AUTHENTICATE.ROOT.FOOD' |
      translate }}
    </h2>
    <form [formGroup]="detailFoodForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="mat-form-field">
        <input matInput type="text" formControlName="name" placeholder="{{ 'SHARE.NAME' | translate }}" autocomplete="off"
          required>
        <mat-error *ngIf="detailFoodForm.get('name').invalid">
          {{ 'SHARE.PLEASE_SPECIFY' | translate }}{{ 'SHARE.NAME' | translate }}
        </mat-error>
      </mat-form-field>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <mat-form-field class="mat-form-field">
            <input matInput type="number" formControlName="price" placeholder="{{ 'SHARE.PRICE' | translate }}"
              autocomplete="off" required>
            <mat-error *ngIf="detailFoodForm.get('price').invalid && 0 <= detailFoodForm.controls['price'].value">
              {{ 'SHARE.PLEASE_SPECIFY' | translate }}{{ 'SHARE.PRICE' | translate }}
            </mat-error>
            <mat-error *ngIf="detailFoodForm.get('price').invalid 
            && '' !== detailFoodForm.controls['price'].value && 0 > detailFoodForm.controls['price'].value">
              {{ 'SHARE.PLEASE_SPECIFY' | translate }}{{ 'SHARE.ERROR_MIN_NUMBER_INPUT_0' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <mat-form-field class="mat-form-field">
            <input matInput type="text" formControlName="unit" placeholder="{{ 'SHARE.UNIT' | translate }}"
              autocomplete="off" required>
            <mat-error *ngIf="detailFoodForm.get('unit').invalid">
              {{ 'SHARE.PLEASE_SPECIFY' | translate }}{{ 'SHARE.UNIT' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row" (click)="inputImageFile.click(); $event.preventDefault()">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <button mat-raised-button class="width-full">
            {{ 'SHARE.IMAGE_FILE' | translate }} <br> {{ acceptFiles }}
          </button>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <mat-form-field class="mat-form-field">
            <input matInput type="text" formControlName="imageFile" placeholder="" autocomplete="off" readonly>
            <mat-error *ngIf="detailFoodForm.get('imageFile').invalid">
              {{ 'SHARE.PLEASE_SPECIFY' | translate }}{{ 'SHARE.IMAGE_FILE' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="'' !== viewImage" class="row text-align-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <img [ngClass]="{'img-gray-scale': outOfStock === true}" [src]="viewImage">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="outOfStock">
          <h1 class="text-overlay-center">{{ 'SHARE.OUT_OF_STOCK' | translate }}</h1>
        </div>
      </div>
      <div *ngIf="detailFood" class="row end-xs end-sm end-md end-lg">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="button-row">
            <button class="width-full" mat-button color="primary" (click)="changeStatusBuy(false); $event.preventDefault()">
              {{ 'SHARE.CANCEL_BUY' | translate }}
            </button>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="button-row">
            <button class="width-full" mat-button color="primary" (click)="changeStatusBuy(true); $event.preventDefault()">
              {{ 'SHARE.OPEN_BUY' | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="row end-xs end-sm end-md end-lg">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="button-row">
            <button class="width-full" mat-button color="primary" (click)="routerNavigateToFood(); $event.preventDefault()">
              {{ 'SHARE.CANCEL' | translate }}
            </button>
          </div>
        </div>
        <div *ngIf="detailFood" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="button-row">
            <button class="width-full" mat-button color="primary" (click)="deleteMenuItem(); $event.preventDefault()">
              {{ 'SHARE.DELETE' | translate }}
            </button>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="button-row">
            <button class="width-full" mat-raised-button color="primary" type="submit">
              {{ (!detailFood ? 'SHARE.SAVE' : 'SHARE.EDIT') | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <input #inputImageFile hidden type="file" [accept]="acceptFiles" (change)="inputImageFileChange($event.target.files)">
</mat-card>
<cs-kps-delivery-overlay-spinner *ngIf="statusSpinner"></cs-kps-delivery-overlay-spinner>