.sidenav-container-authenticate {
  height: 100%;
}

.sidenav-authenticate {
  width: 250px;
}

.sidenav-authenticate .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.router-content-authenticate {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 20px; // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
    margin-left: 15px;
    margin-right: 15px;
  } // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) and (max-width: 767.98px) {
    margin-left: 15px;
    margin-right: 15px;
  } // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991.98px) {
    margin-left: 15px;
    margin-right: 15px;
  } // Large devices (desktops, 992px and up)
  @media (min-width: 992px) and (max-width: 1199.98px) {
    margin-left: 25px;
    margin-right: 25px;
  } // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    margin-left: 25px;
    margin-right: 25px;
  }
}

.admin-header {
  background-color: #00aba9;
}