<mat-sidenav-container class="sidenav-container-authenticate" fullscreen>
    <mat-sidenav #menuNav class="sidenav-authenticate" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)" [autoFocus]="false">
        <mat-toolbar class="title-center">
            <span class="width-full">Administration</span>
        </mat-toolbar>
        <div class="text-align-center" style="margin-top: 1rem;">
            <img mat-card-image class="mat-card-image-max-height-128px" [src]="_PATH_FILES.TITLE_SLIDE.SRC" [alt]="_PATH_FILES.TITLE_SLIDE.ALT">
        </div>
        <mat-nav-list *ngIf="(isHandset$ | async)" >
            <a *ngFor="let MENU of _OBJECTS_ROUTER_VIEW.MENU" [routerLink]="('/' + MENU.ROUTER)" (click)="menuNav.close()"
                mat-list-item>
                {{ MENU.TEXT | translate }}
            </a>
        </mat-nav-list>
        <mat-nav-list *ngIf="!(isHandset$ | async)">
            <a *ngFor="let MENU of _OBJECTS_ROUTER_VIEW.MENU" [routerLink]="('/' + MENU.ROUTER)" mat-list-item>
                {{ MENU.TEXT | translate }}
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="admin-header">
            <button type="button" aria-label="Toggle side menu nav" mat-icon-button (click)="menuNav.toggle()" *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>CSKPS Delivery</span>
            <span class="sidenav-spacer"></span>
            <button type="button" aria-label="Toggle sign out nav" mat-icon-button (click)="openSignOutDialog()">
                <mat-icon aria-label="Side nav toggle icon">input</mat-icon>
            </button>
        </mat-toolbar>
        <div class="router-content-authenticate">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<cs-kps-delivery-overlay-spinner *ngIf="statusSpinner"></cs-kps-delivery-overlay-spinner>