<mat-card>
  <mat-card-content>
    <h2>
      {{ 'SHARE.PLEASE_SPECIFY' | translate }}{{ 'SHARE.INFORMATION' | translate }}{{ 'AUTHENTICATE.ROOT.STAFF' |
      translate }}
    </h2>
    <form [formGroup]="staffForm" (ngSubmit)="onFormSubmit()">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <mat-form-field class="mat-form-field">
            <input matInput type="text" formControlName="username" placeholder="{{ 'UNAUTHENTICATED.SIGN_IN.USERNAME' | translate }}"
              autocomplete="off" required>
            <mat-error *ngIf="staffForm.get('username').invalid">
              {{ 'SHARE.PLEASE_SPECIFY' | translate }}{{ 'UNAUTHENTICATED.SIGN_IN.USERNAME' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <mat-form-field class="mat-form-field">
            <input matInput type="text" formControlName="name" placeholder="{{ 'SHARE.NAME' | translate }}"
              autocomplete="off" required>
            <mat-error *ngIf="staffForm.get('name').invalid">
              {{ 'SHARE.PLEASE_SPECIFY' | translate }}{{ 'SHARE.NAME' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="!profile" class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <mat-form-field class="mat-form-field">
            <input matInput [type]="passwordVisibilityIcon ? 'password' : 'text'" formControlName="password"
              placeholder="{{ 'UNAUTHENTICATED.SIGN_IN.PASSWORD' | translate }}" autocomplete="off" required>
            <mat-error *ngIf="staffForm.get('password').invalid">
              {{ 'SHARE.PLEASE_SPECIFY' | translate }}{{ 'UNAUTHENTICATED.SIGN_IN.PASSWORD' | translate }}
            </mat-error>
            <mat-icon matSuffix (click)="passwordVisibilityIcon = !passwordVisibilityIcon">
              {{ passwordVisibilityIcon ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <mat-form-field class="mat-form-field">
            <input matInput [type]="confirmPasswordVisibilityIcon ? 'password' : 'text'" formControlName="confirmPassword"
              placeholder="{{ 'SHARE.CONFIRM_PASSWORD' | translate }}" autocomplete="off" required>
            <mat-error *ngIf="staffForm.get('confirmPassword').invalid">
              {{ 'SHARE.PLEASE_SPECIFY' | translate }}{{ 'SHARE.CONFIRM_PASSWORD' | translate }}
            </mat-error>
            <mat-icon matSuffix (click)="confirmPasswordVisibilityIcon = !confirmPasswordVisibilityIcon">
              {{ confirmPasswordVisibilityIcon ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <mat-form-field class="mat-form-field">
            <input matInput type="text" formControlName="address" placeholder="{{ 'SHARE.ADDRESS' | translate }}"
              autocomplete="off" required>
            <mat-error *ngIf="staffForm.get('address').invalid">
              {{ 'SHARE.PLEASE_SPECIFY' | translate }}{{ 'SHARE.ADDRESS' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <mat-form-field class="mat-form-field">
            <input matInput type="tel" formControlName="telephone" maxlength="10" placeholder="{{ 'SHARE.TELEPHONE' | translate }}"
              autocomplete="off" required>
            <mat-error *ngIf="staffForm.get('telephone').invalid">
              {{ 'SHARE.PLEASE_SPECIFY' | translate }}{{ 'SHARE.TELEPHONE' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row end-xs end-sm end-md end-lg">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="button-row">
            <button class="width-full" mat-button color="primary" (click)="routerNavigateToStaff(); $event.preventDefault()">
              {{ 'SHARE.CANCEL' | translate }}
            </button>
          </div>
        </div>
        <!-- <div *ngIf="profile" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="button-row">
            <button class="width-full" mat-button color="primary" (click)="deleteUserItem(); $event.preventDefault()">
              {{ 'SHARE.DELETE' | translate }}
            </button>
          </div>
        </div> -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="button-row">
            <button class="width-full" mat-raised-button color="primary" type="submit">
              {{ (!profile ? 'SHARE.SAVE' : 'SHARE.EDIT') | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<cs-kps-delivery-overlay-spinner *ngIf="statusSpinner"></cs-kps-delivery-overlay-spinner>