<mat-card>
  <mat-card-content>
    <h2>
      {{ 'SHARE.TO_DAY' | translate }}{{ 'SHARE.BUY_TOTAL_PRICE_ALL' | translate }} {{ totalPriceToDay }} {{ 'SHARE.BAHT' |
      translate }}
      ({{ messageToDay }})
    </h2>
    <div class="row">
      <div *ngFor="let nameItem of nameListMenu" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h2>{{ nameItem }}</h2>
        <p>
          {{ tempListMenuToDate[nameItem].sell }} {{ 'SHARE.BAHT' | translate}}
        </p>
        <p>
          {{ tempListMenuToDate[nameItem].amount }} {{ 'SHARE.ITEM' | translate}}
        </p>
      </div>
    </div>
    <hr>
    <h2>
      {{ 'SHARE.SINCE' | translate }} {{ messageToTopDate }} {{ 'SHARE.TO' | translate }} {{ messageToDay }} <br>
      {{ 'SHARE.BUY_TOTAL_PRICE_ALL' | translate }} {{ totalPrice }} {{ 'SHARE.BAHT' | translate }}
    </h2>
    <div class="row">
      <div *ngFor="let nameItem of nameListMenu" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h2>{{ nameItem }}</h2>
        <p>
          {{ tempListMenuBackToTopDate[nameItem].sell }} {{ 'SHARE.BAHT' | translate}}
        </p>
        <p>
          {{ tempListMenuBackToTopDate[nameItem].amount }} {{ 'SHARE.ITEM' | translate}}
        </p>
      </div>
    </div>
  </mat-card-content>
</mat-card>


<!-- <mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'SHARE.FILTER' | translate}}">
</mat-form-field>

<div class="mat-elevation-z8 table-relative" #elevationTable>
  <table mat-table matSort multiTemplateDataRows [dataSource]="dataSource">
    <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ keyTranslate[column] | translate }} </th>
      <td mat-cell *matCellDef="let element" [innerHTML]="element[column]"></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" (click)="viewElement(element)"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="pageSizeOptions" style="width: 100%;"></mat-paginator>
</div> -->
<cs-kps-delivery-overlay-spinner *ngIf="statusSpinner"></cs-kps-delivery-overlay-spinner>