img {
    max-width: 64px;
}

.fab-button {
    position: fixed;
    z-index: 9999;
    @media (max-width: 960.98px) {
        left: 0;
        bottom: 25px;
    }
    @media (min-width: 961px) {
        right: 0;
        bottom: 50px;
    }
    margin: 5%;
}