<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'SHARE.FILTER' | translate}}">
</mat-form-field>

<div class="mat-elevation-z8 table-relative" #elevationTable>
  <table mat-table matSort multiTemplateDataRows [dataSource]="dataSource">
    <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay; let i = index;">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ keyTranslate[column] | translate }} </th>
      <td mat-cell *matCellDef="let element">
        <img *ngIf="columnsToDisplay[3] === column" [ngClass]="{'img-gray-scale': element['status']}" [src]="element[column]">
        {{ (columnsToDisplay[3] !== column && columnsToDisplay[4] !== column ? element[column] : '') }}
        {{ (columnsToDisplay[4] === column ? (element['status'] ? 'SHARE.CLOSE' : 'SHARE.OPEN') : '') | translate }} 
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" (click)="viewElement(element)"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>
<button mat-fab class="fab-button" (click)="routerNavigateToFoodForm('')">
  <mat-icon matPrefix>add</mat-icon>
</button>
<cs-kps-delivery-overlay-spinner *ngIf="statusSpinner"></cs-kps-delivery-overlay-spinner>