.layout-unauthenticated {
    // Extra small devices (portrait phones, less than 576px)
    margin-left: 0;
    margin-right: 0;
    @media (max-width: 575.98px) {
        margin-top: 125px;
    } // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) and (max-width: 767.98px) {
        margin-top: 125px;
    } // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) and (max-width: 991.98px) {
        margin-top: 125px;
    } // Large devices (desktops, 992px and up)
    @media (min-width: 992px) and (max-width: 1199.98px) {
        margin-top: 125px;
    } // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        margin-top: 150px;
    }
}