<div class="row center-xs center-sm center-md center-lg layout-unauthenticated">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
        <div class="box">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>